.menu {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-color: #334352;
}
.menu__item {
    margin-right: 20px;
    cursor: pointer;
}
.menu__item:last-child { margin-right: 0; }
.menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}
.menu__link:hover {
    color: #9e9e9e;
}
.menu__link.active {
    border-bottom: 1px solid red;
}